<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="github" value="https://nuget.pkg.github.com/JanuszNowak/index.json" />
        <add key="janono.ado.testcase.associate" value="https://pkgs.dev.azure.com/janono-pub/_packaging/janono.ado.testcase.associate/nuget/v3/index.json" />
    </packageSources>
    <activePackageSource>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    </activePackageSource>
</configuration>